*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-style{
    font-style: italic;
}
:root{
    --blue-color: #0c2f54;
    --dark-color: #535b61;
    --white-color: #fff;
}

ul{
    list-style-type: none;
}
ul li{
    margin: 2px 0;
}

/* text colors */
.text-dark{
    color: var(--dark-color);
}
.text-blue{
    color: var(--blue-color);
}
.text-end{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-start{
    text-align: left;
}
.text-bold{
    font-weight: 700;
}
/* hr line */
.hr{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}
/* border-bottom */
.border-bottom{
    border-bottom: 1px solid ;
}

body{
    font-family: "Open Sans", sans-serif;

    font-size: 14px;
    font-weight:400;
}
.invoice-wrapper{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}
.invoice{
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--white-color);
    padding: 70px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 920px;
}
.invoice-head-top-left img{
    width: 150px;
}
.invoice-head-top-right h3{
    font-weight: 600;
    font-size:26px;
    color: var(--blue-color);
    
}


.invoice-head-middle, .invoice-head-bottom{
    padding: 16px 0;
}
.invoice-body{
    border-radius: 4px;
    overflow: hidden;
}
.invoice-body table{
    border-radius: 4px;
    width: 100%;
}


.invoice-body table thead{
    background-color: #f1f1f1;
}
.invoice-body-bottom{
    width: 100%;
}
.invoice-body-info-item {
    display: flex;
   float: right; /* Align children to the start and end of the container */
   width:100%;
}

.info-item-td {
    padding:8px;
  /* Align text to the right within the flex item */
}
.text_soft{
    font-weight: 500 !important;
    color: #0d0d0d !important;
}

/* Adjusting width to fit content */
.info-item-td.text-end {
    flex: 1; /* Grow to fill available space */
}

.invoice-body-info-item.border-bottom {
    border-bottom: 1px solid ; /* Add border-bottom to only items with this class */
    border-bottom: 2px solid #faf8f8;
}

.invoice-foot{
    padding: 30px 0;
}
.invoice-foot p{
    font-size: 12px;
}
.invoice-btns{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.invoice-btn{
    padding: 3px 9px;
    color: var(--dark-color);
    font-family: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.invoice-body .text-center table, td, th {  
    border: 1px solid #0d0d0d;
    padding: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
 
#invoice-title h3{
  
    color: #426f22e3; 
    padding: 6px;
    border-radius: 5px;
    display: inline-block; 
   }
.invoice-head-top, .invoice-head-middle, .invoice-head-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
}

.invoice-body table {
    text-align: center;
}

.noborder table, .noborder tbody, .noborder td, .noborder th, .noborder tr
{
    border: none;
    width:39%;
    text-align: right;
    font-size: 12px;
}
.noborder td{
    font-weight: bold !important;
}
@media screen and (max-width: 992px){
    .invoice{
        padding: 40px;
    }
}

@media screen and (max-width: 576px){
    .invoice-head-top, .invoice-head-middle, .invoice-head-bottom{
        grid-template-columns: repeat(1, 1fr);
    }
    .invoice-head-bottom-right{
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .invoice *{
        text-align: left;
    }
    .invoice{
        padding: 28px;
    }
}


.invoice-body{
    min-width: 600px;
}

@media print{
    .print-area{
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        margin: 0;
    }
    .invoice-wrapper {
        width: 100%;
        height: 100%;
      }
    .overflow-view{
        overflow-x: hidden;
    }

    .invoice-btns{
        display: none;
    }
   
}